<!--<div class="container">
	<div>
		<form>
			<div class="form-group">
				<h3>What are important factors that determine your car purchase?</h3>

				<input type="checkbox" name="price" ng-model="userPreference.price"> Price
				<input type="checkbox" name="fuelEfficiency" ng-model="userPreference.fuelEfficiency"> Fuel Efficiency
				<input type="checkbox" name="safetyRating" ng-model="userPreference.safetyRating"> Safety Rating
				<input type="checkbox" name="comfortLevel" ng-model="userPreference.comfortLevel"> Comfort Level
				<input type="checkbox" name="luxury" ng-model="userPreference.luxury"> Luxury
				<input type="checkbox" name="hp" ng-model="userPreference.hp"> Horse Power
			</div>
			<div class="form-group">
				<input type="submit" id="btnShowAnalysis" name="btnShowAnalysis" value="Show Analysis" ng-click="analyzePreferences()" class="automotiveBtn">
			</div>
		</form>
	</div>


	<div>
		<pre>{{userPreference|json}}</pre>
	</div>
</div>-->
