<div style="background-color: #fff">
	<div>
		<div>Select Watson Service</div>
		<a href="#/watson-qa">Watson: Question and Answer</a><br>
		<a href="#/watson-ta">Watson: Tradeoff Analytics</a><br>
		<a href="#/watson-stt">Watson: Speech To Text</a><br>
		<a href="#/watson-tts">Watson: Text To Speech</a>
		<!--
		<ul ng-repeat="item in items">
			<li>{{item.attributes.name}}</li>
		</ul>
		-->
	</div>
	<br>
	<div>
		<div>
			<h2>Mobile Data</h2>
			<a href="#/createUser">Create Consumer</a><br>
			<a href="#/verifyUser">Login Procedure</a>
		</div>

		<div>
			<h2>MongoDB</h2>
			<a href="#/getCarCriteria">Get Criteria</a><br>
			<a href="#/vehicle/vehicleEntry">Enter Car Data</a><br>
			<a href="#/vehicle/vehicleTypeSearch">Search Car Type</a><br>
		</div>

	</div>
</div>